<main class="container custom-container mt-3">
  <section id="question">
    <h3><%= @question.title %></h3>
    <p>Subject: <%= @question.subject.title %></p>
    <hr>
    <p><%= @question.body %></p>
  </section>

  <section id="newAnswer">
    
  </section>
</main>