<% title "Reset Password" %>

<main class="container mt-3 auth">


  <%= form_with url: password_reset_path do |form| %>

    <div class="mt-4 mb-4">
      <%= form.label :email, class: "form-label" %>
      <%= form.email_field :email, class: "form-control", required: true %>
    </div>

    <div class="d-grid">
      <%= form.submit 'Reset Password', class: "btn btn-primary" %>
    </div>

  <% end %>

</main>


