<li>
  <%= link_to notification_link(notification), class: "dropdown-item" do %>
    <span class="text-dark"><%= notification_title(notification) %></span><br>
    <span class="text-primary"><%= notification_question(notification).title %></span><br>
    <span class="text-muted"><%= created_at_in_words(notification) %></span>
  <% end %>
</li>

<li><hr class="dropdown-divider"></li>
