<li>
  
  <span><%= notification_title(notification) %></span><br>
  <span><%= notification_question_title(notification) %></span><br>
  <span><%= created_at_in_words(notification) %></span>
</li>



<!-- Aurangzaib answered a question that you are following
This question
1 day ago


Sunny commented on a answer that you are following
This question
1 day ago

Sunny commented on a question that you are followign
This question
1 day ago -->