<li>
  <%= link_to notification_link(notification), class: "dropdown-item" do %>
    <span><%= notification_title(notification) %></span><br>
    <span><%= notification_question(notification).title %></span><br>
    <span><%= created_at_in_words(notification) %></span>
  <% end %>
</li>

<li><hr class="dropdown-divider"></li>
