<%= form_with model: [question, answer], data: {controller: "question-form", action: "question-form#validations turbo:submit-end->question-form#reset", turbo: (!answer.persisted?)} do |form| %>
  <div class="mt-3 mb-4">
    <%= form.rich_text_area :body, class: "form-control", data: {question_form_target: "body"} %>
    <div class="invalid-feedback" data-question-form-target="errorMessage"></div>
  </div>
  <%= form.submit button_text, class: "btn btn-primary" %>
<% end %>