<%= form_with model: [question, answer], data: {controller: "answers--new", action: "answers--new#validations turbo:submit-end->answers--new#reset", turbo: false, answers__new_question_follow_id_value: follow_id(question) } do |form| %>
  <div class="mt-3 mb-4">
    <%= form.rich_text_area :body, class: "form-control", data: {answers__new_target: "body"} %>
    <div class="invalid-feedback" data-answers--new-target="errorMessage"></div>
  </div>
  <%= form.submit button_text, class: "btn btn-primary" %>
<% end %>