<% title "Edit Your Answer" %>

<main class="container custom-container mt-3">
  <h5 class="fw-normal">Edit Your Answer</h5>

  <%= render "form", question: @question, answer: @answer, button_text: "Update" %>
</main>