<%= title "Select account" %>

<main class="container">
  <h3 class="text-center mt-3 mb-1">Select account</h3>
  <div class="text-center mb-4">
    <small class="text-muted">You can change this later in settings</small>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm select_account_col d-flex mb-3">
      <div class="card flex-grow-1">
        <div class="card-body">
          <h5 class="card-title">Private account</h5>
          <p class="card-text">Post questions without sharing any information about yourself.</p>
        </div>
        <div class="card-footer">
          <%= select_account_button "private" %>
        </div>
      </div>
    </div>
    <div class="col-sm select_account_col d-flex mb-3">
      <div class="card flex-grow-1">
        <div class="card-body">
          <h5 class="card-title">Public account</h5>
          <p class="card-text">Your name will be visible to other users.</p>
        </div>
        <div class="card-footer">
          <%= select_account_button "public" %>
        </div>
      </div>
    </div>
  </div>
</main>